@import 'normalize';
@import 'common/variables';
@import 'common/fonts';
@import 'common/smartgrid';
// @import 'common/header';

// @include reset;

html,
body {
  font-size: $main-fz;
  font-family: $main-font;
}

.debug {
  @include debug(#ccc, none);
}

.container {
  @include wrapper;
  width: 100%;
}

.row {
  @include row-flex;
}

h1, h2, h3, h4, h5, h6, p, a, li {
  margin: 0;
  padding: 0;
}

ul {
  font-size: 0rem;
}

li {
  list-style-type: none;
}

li, a, p {
  font-size: 1.6rem;
}

a {
  text-decoration: none;
  // color: #fff;
}